* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url("./assets/prove-bg.png");
    display: flex;
    column-gap: 80px;
    justify-content: center;
    background-color: black;
}


.cc1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: yellow;
    border-spacing: 1%;
    box-sizing: border-box;
    margin-top: 30px;
    /* padding: 13px; */
   
}
.cc1 p{
    margin-top:10px ;
}



.Aboutus{
    margin-top: -200px;
    color: white;
    text-align: center;
    
}
.Aboutus P{
    color:yellow

}
.box{
    height: 43rem;
    width: 79%;
    border: 2px solid white;
    display: grid;
    background-color:black;
    grid-template-columns: repeat(2,1fr);
    box-shadow:  10px 5px 20px;
    margin-left: 200px;
    margin-top:8%;
  
}

.box1{
    margin-top: 20px;
  
}
.box2{
    height: 50%;
    width: 60%;
    margin-left: 100px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
}
.box2 button{
    height: 6vh;
    width: 9vw;
    background-color: yellow;
    margin-top: 5%;
    
}
.shed1{
    width: 31%;
    margin-top: -23%;
    margin-left: 880px;
 
 }
 .shed2{
    height: 50%;
    width: 30%;
    margin-left:-40px;
    margin-top: -250px;
    position: absolute;
    left: 20rem;
    color: white;
    font-size: 15px;
 }

 .shed2 button{
    height: 6vh;
    width: 9vw;
    background-color: yellow;
    margin-top: 5%;
    
 }
 .footprint{
    height: 50px;
    width: 100%;
    background: yellow;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items:center;
 }

 
.container{
  
    color: #fff;
    display: flex;
    justify-content: center;
    /* justify-content: space-between;
    justify-content: space-around;  */

    height: 60vh;
    width: 100%;
    column-gap: 80px;
   
}

.cc1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: yellow;
    border-spacing: 1%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 13px;
}


.nithin{
    height: 33rem;
    width: 78%;
    border: 2px solid yellow;
    display: grid;
    background-color:white;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(4, 50px); */
    box-shadow:  10px 5px 20px;
    margin-left: 200px;
    margin-top:8%;
    margin-top:7rem;
}
  .gg1{
    margin-top: 1rem;

  }

  .projects{
    margin-top: -200px;
    color: white;
    text-align: center;
    
}
.projects P{
    color:yellow

}
.foot{
   
    height: 50px;
    width: 100%;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

@media screen and (min-width: 320px) and  (max-width:642px){
    .container{
        height: 100vh;
        width: 400%;
      }
      .Aboutus{
        display: block;
        text-align: center;
        margin-top: -18rem;
        margin-left: 150%;
        width: 140%;
        font-size: 25px;
        
      }
      .box{
        width: 370%;
        height: 110vh;
        margin-left: 90px;
        margin-top: 40%;

      }
      .box2{
        margin-left: -2px;
        font-size: 25px;
        width: 100%;
    }
    .box2 button{
        height: 10vh;
        width: 40vw;
        background-color: yellow;
        margin-left: 10%;   
        font-size: 20px;
    }
    .shed1{

        margin-top: -15rem;
        
   
    }
    .shed1 img{
        width: 400%;

    }
    .shed2{
        margin-top: -15rem;
        width: 150%;
        margin-left: -100px;
    }
    .shed button{
        height: 10vh;
        width: 2000rem;
        background-color: yellow;
        margin-left: 10%;   
        font-size: 20px;
    }
    .footprint{
        height: 50px;
        width: 400%;
        padding-top 5px;
        
     }
     .item{
        height: 70vh;
         width: 400%;
        
    }
    .projects{
        text-align: 26px;
        display: block;
        text-align: center;
        margin-top: -18rem;
        margin-left: 150%;
        width: 140%;
        font-size: 25px;
        
    }
    .nithin{
    height: 80vh;
    width: 340%;

    }
     .foot{
        height: 50px;
        width: 400%;
        padding-top 5px;
        margin-top: 5rem;

     }
}
     @media screen and (min-width:643)  and (max-width:1024){
        .container{
            height: 400vh;
            width: 1000vw;
          }
          .Aboutus{
            display: block;
            text-align: center;
            margin-top: -18rem;
            margin-left: 150%;
            width: 140%;
            font-size: 25px;
            
          }
          .box{
            width: 370%;
            height: 110vh;
            margin-left: 90px;
            margin-top: 40%;
    
          }
          .box2{
            margin-left: -2px;
            font-size: 25px;
            width: 100%;
        }
        .box2 button{
            height: 10vh;
            width: 40vw;
            background-color: yellow;
            margin-left: 10%;   
            font-size: 20px;
        }
        .shed1{
    
            margin-top: -15rem;
            
       
        }
        .shed1 img{
            width: 400%;
    
        }
        .shed2{
            margin-top: -15rem;
            width: 150%;
            margin-left: -100px;
        }
        .shed button{
            height: 10vh;
            width: 2000rem;
            background-color: yellow;
            margin-left: 10%;   
            font-size: 20px;
        }
        .footprint{
            height: 50px;
            width: 400%;
            padding-top 5px;
            
         }
         .item{
            height: 70vh;
             width: 400%;
            
        }
        .projects{
            text-align: 26px;
            display: block;
            text-align: center;
            margin-top: -18rem;
            margin-left: 150%;
            width: 140%;
            font-size: 25px;
            
        }
        .nithin{
        height: 80vh;
        width: 340%;
    
        }
         .foot{
            height: 50px;
            width: 400%;
            padding-top 5px;
            margin-top: 5rem;
    
         }
        
     }
    
    

